@import '_color.scss';
@import '_variable.scss';

@mixin shadow {
    -webkit-box-shadow: 10px 10px 15px -4px $grey-dark;
    -moz-box-shadow: 10px 10px 15px -4px $grey-dark;
    box-shadow: 10px 10px 15px -4px $grey-dark;
}
*{
    @include padding(3);
}

body {
    font: 100% "Space Mono", monospace;
    color: $grey-dark;
    margin: 0;
    background-color: $white;
    overflow-x: hidden;
}

main {
    @include padding(1);
}

p{
    .messages{
        opacity: 0.75;
    }
}

article {
    display: flex;
    flex-wrap: wrap;
    section{
        @include shadow;
        flex-grow: 1;
        flex-basis: 45%;
        border: 1px $grey-light solid;
        margin: 16px;
        clear: both;
        overflow: auto;
        box-sizing: border-box;
        #selling-points{
            flex-grow: 2;
            flex-basis: 100%;
        }
    }
    code{
        background: $black;
        border: 1px solid #{$grey-dark};
        color: $grey-light;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        display: block;
        word-wrap: break-word;
        &::before{
            float: left;
            width: 40%;
        }
        &::after{
            float: right;
            width: 40%;
        }
    }
}


h1,
h2,
h3 {
    color: $pink;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0px;
}

footer{
    h3{
    @include padding(2);
    }
}

.messages {
    @include padding(3);
}

.success{
    border: 1px solid $grey-light;
    padding: 16px;
    color: $white;
}
.error{
    @extend .success;
}
.warning {
    @extend .success;
}

.success {
    background-color: $green;
}

.error {
    background-color: $red;
    &::hover{
        background-color: $green;
    }
}

.warning {
    background-color: $orange;
}